.container {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card {
    background-color: #f8f9fa;
    border-radius: 12px;
    box-shadow: 4px 6px 10px rgba(255, 4, 4, 0.1);
    padding: 20px;
}

.card-title {
    color: #f90000;
    font-size: 14px;
    margin-bottom: 20px;
}

.card-text {
    color: #555;
    font-size: 18px;
    margin-bottom: 10px;
}

.country-flag {
    max-width: 70px;
    margin-top: 10px;
}

.map-container {
    margin-top: 20px;
}

.footer {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    color: #ff0202;
}

.toggle-button, .refresh-button {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: auto auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-button:hover, .refresh-button:hover {
    background-color: #d41411;
}
